@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Caveat:wght@400..700&family=Cinzel:wght@400..900&family=Great+Vibes&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Permanent+Marker&family=Protest+Revolution&family=Protest+Strike&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shadows+Into+Light&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
input,button{
  display: block;
  color: inherit;
  font-family: inherit;
}
body{
  min-height: 100vh;
  background-color: #333;
  display: grid;
  place-content: center;
}

.container{
  border-radius: 5px;
  padding: 1rem;
  width: 300px;
  background-color: #ffffffd6;
}
.input-container{
  width: 100%;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  height: 40px;
  position: relative;
}
.search-icon{
  width: 30px;
  position: absolute;
  top: 4px;
  right:5px;
  cursor: pointer;
  & img{
    width: 100%;
  }
}

.cityInput{
  width: 85%;
  height: 100%;
  background: none;
  border: none;
  padding-inline: 10px 25px;
  &:focus{
    outline: none;
  }
}

.image{
  width: 130px;
  margin-inline: auto;
  margin-top: 1rem;
  & img{
    width: 100%;
  }
}

.temp{
  font-size: 2.5rem;
  width:fit-content;
  margin-inline: auto;
}
.city{
  font-size: 2rem;
  width: fit-content;
  margin-inline: auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(30, 30, 224);
}
.country{
  width: fit-content;
  margin-inline: auto;
  font-size: 1.2rem;
}
.cord{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  & div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    & span:nth-child(1){
      color:#555 ;
    }
  }
}

.humidity img,
.wind img{
  width: 40px;
  filter: drop-shadow(0 0 1px rgb(0, 0, 0));
}

.other-detail{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  & div{
    display: grid;
    justify-items: center;
    & h3,
    & h4{
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
.loader{
  height: 90px;
  margin-top: 10px;
  display: grid;
  place-content: center;
  & div{
    border: 4px solid rgb(46, 112, 171);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top-color:transparent;
    animation: spin 1s ease-out infinite;
  }
}

.error-message{
  margin-top: 10px;
  height: 40px;
  & p{
    line-height: 40px;
    text-align: center;
    color: #e96929;
  }
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
  
}